
<div class="col-12 ms-4 gx-0 card bg-info">
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pationt of pationtArr ; let i=index ">
                <td >{{pationt.fname}}</td>
                <td>{{pationt.lname}}</td>
                <td>{{pationt.address1}}</td>
                <td><div class="btn btn-info" (click)="updateItem(i,pationt)">edit</div> <div class="btn btn-success">view</div> <div class="btn btn-danger" (click)="deleteData(pationt.id)">delete</div></td>
            </tr>
                
        </tbody>
    </table>
</div>