<div class="container-fluid">
    <div class="container d-flex justify-content-center align-items-center vh-100">
      <div class="card col-6">
        <h5 class="card-header text-center">pationt login</h5>
        <div class="card-body">
          <h5 class="card-title text-center p-4">Login to your account</h5>
          <form [formGroup]="form">
           <div class="form-group">
              <input type="text"  class="form-control" placeholder="email id" formControlName="email">
              <ng-container *ngFor=" let error of errorMessages.email">
                <ng-container *ngIf="email?.hasError(error.type)&& (email?.dirty || email?.touched)">
                  {{error.message}}
                </ng-container>
              
              </ng-container>
            </div>
           <div class="form-group mt-3">
              <input type="text"  class="form-control" placeholder="password" formControlName="password">
              <ng-container *ngFor=" let error of errorMessages.password">
                <ng-container *ngIf="password?.hasError(error.type) && (password?.dirty|| password?.touched)">
                  {{error.message}}
                </ng-container>
              </ng-container>
            </div>
            .<div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input"  value="checkedValue" >
               Reminder me
              </label>
            </div>
            <div class="d-grid  mt-4 mb-5">
              <button class="btn btn-info rounded-pill" (click)="login()">log in</button>
            </div>
           
          </form>
        </div>
      </div>
    </div>
</div>
